body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

/* Add banner to header background */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 52px;
  background-color: #000000;
  box-shadow: 0px 0px 5px black;
  z-index: 800;
}

h1 {
  color: white;
  font-size: 16px;
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.0em;
  margin-left: 0.5em;
  margin-right: 0;
  font-weight: normal;
}

h2 {
  font-size: 12px;
  color: white;
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 0.0em;
  margin-left: 0.75em;
  margin-right: 0;
  font-weight: normal;
}

h3 {
  padding: 0px;
  font-size: 16px;
  margin-left: 5px;
  font-weight: bold;
  font-family: "Montserrat";
}

h4 {
  padding: 5px;
  font-size: 13px;
  line-height: 16px;
  font-family: "Montserrat";
}

/* Set map parameters */
#map {
  position: fixed;
  bottom: 0px;
  width: 100%;
  top: 52px;
}

.easy-button-button {
  display: inline-block !important;
}
